.theBackground {
    -fx-background-color : #FFFFFF;
    }

.homeTitle {
    -fx-text-fill   : #29B6F6;
    }

.warningText {
    -fx-fill : #0277BD;
    }

.inputSection {
    -fx-background-color : #E1F5FE;
    }

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #FFFFFF;
    }

.button:hover {
    -fx-background-color : #0288D1;
}


.text-field {
    -fx-prompt-text-fill: gray;
}

.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:18px;
 }

.table-row-cell{
    -fx-table-cell-border-color: #000000;
}

.column-header {
    -fx-border-color: #000000;
}

.table-view:focused {
  -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}
